<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title></title>
</head>
<body>
	<section class="back d-flex justify-content-center align-items-center" >
		<div class="text-center">
			<h1>Smart Contact Manager</h1>
			<p>
				Start collection your contact in very smart way. we provide 
				very efficient and smarter way of handling contacts.
			</p>
			<button type="button" class="btn bg-secondary text-white">Get Start</button>
		</div>
	</section>
</body>
</html>